//全局公共样式变量
$base-menu-color-active: #f4f4f5;
$px-20: 20px;
$page-height: calc(100vh - 80px);
$color-primary: #409eff;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-error: #f56c6c;
$color-info: #909399;
